.background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}

.text {
  color: #ffffff;
  font-size: 32px;
  font-weight: 800;
  margin-top: 80px;
  margin-bottom: 80px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
